.cart {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
    padding: var(--spacing-128) 0;
    
  }

  .cart__title{
    color: var(--dark-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 4px solid var(--primary-900);
    margin-bottom: var(--spacing-48);
  }

  .cart-table{
    width: 100%;
    align-self:stretch;
    border-collapse: collapse;
    table-layout: fixed;
  }


  .cart-table__header{
  background-color:  var(--light-bg-solid);
  color:  var(--dark-solid);
  font-weight: 700;
  align-items: center;
  padding: var(--spacing-8);
  text-align: center;
  
  font-family: var(--base-font);
  font-size: var(--font-small);
    
  }
  .detail-cell{
    width: 70%;
    
    
  }
  .flex-cell{
    width: 10%;
    text-align: center;
  }

 .delete--cell{
    min-width: 100px;
  }

 .cart-table__row{
    /* display:grid;
    background-color: var(-light-bg-solid);
    grid-template-columns: 70% 150px 150px 1fr;
    font-family: var(--base-font);
    color: var(--dark-solid);
    font-size: var(--font-small);
    align-items: center;
     */
     text-align: justify;
    padding: var(--spacing-8);
    
  }
  thead{
    display:flex; /*table-header-group;*/
    flex-direction: column;
    border-spacing: var(--spacing-48);
    gap:var(--spacing-48);
    align-items: stretch;
  }
  
  thead th{
    padding: 10px;
  }

  tbody{
    display:flex; /*table-header-group;*/
    flex-direction: column;
    margin-top: var(--spacing-24);
    border-spacing: var(--spacing-48);
    gap:var(--spacing-48);
    align-items: stretch;
  }
 
  tr {
      
    display: flex;
    justify-content: space-between;
    border-collapse: collapse;
    padding: 6px;
    border-radius:  25px ;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
  }

  
  .detail__content--grid{
    display: grid;
    grid-template-columns:1.5fr 3fr ;
    gap: var(--spacing-8);
    align-items: center;
    text-align: start;
  }

  .detail__content--flex{
    display: flex;
    gap: var(--spacing-12);
    align-items: center;
  }

  .detail__content--flex input{
    width: 50px;
    text-align: center;
    border: none;
    font-size: var(--font-medium);
    padding: 4px var(--spacing-8);
  }

  .detail__content-btn{
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    align-items: center;
    text-align: center;
  }

  .item-detail{
    display: flex;
    flex: 1fr ;
    flex-direction: column;
    align-items: start;
    text-align: center;
    gap: var(--spacing-8);
  }

  .detail__name{
    font-size: var(--font-large);
    font-family: var(--base-font);
    font-weight: 700;
  }

  .detail__license{
    font-size: var(--font-small);
    font-family: var(--base-font);
    font-weight: 500;
  }
  .detail__price{
    font-size: var(--font-small);
    font-family: var(--base-font);
    font-weight: 400;
  }
