.item {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-24);
  align-items: center;
}

.item__img {
  flex: 1 1 100%;
}

.item__info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  align-items: start;
}

.item__license {
  font-family: var(--base-font);
  font-size: var(--font-small);
  color: var(--dark-900);
  font-weight: 500;
}
.item__name {
  font-family: var(--base-font);
  font-size: var(--font-jumbo);
  font-weight: 700;
}

.item__description {
  font-family: var(--base-font);
  font-size: var(--font-large);
  color: var(--dark-900);
  font-weight: 400;
}

.item__price {
  font-family: var(--base-font);
  font-size: var(--font-jumbo);
  color: var(--dark-900);
  font-weight: 400;
}

.item__cart {
  display: flex ;
  
}


.item__input {
  font-size: var(--font-large);
  padding: 6px var(--spacing-16);
  max-width: 120px;
  text-align: center;
  
}


.item__quantity {
  border: none;
  cursor: pointer;
  font-family: var(--base-font);
  background-color: var(--dark-bg-solid);
  color: var(--light-font-solid);
  font-size: var(--font-medium);
  padding: 2px 2px;
   
  width: 18px;
  height: 18px;
  margin: 2px;
  transition: background 0.2s;
}

.item__quantity:hover{
  background-color: var(--secondary-solid);
}
.item__submit{
  font-size: var(--font-medium);
}


.item__promo {
  font-family: var(--base-font);
  font-size: var(--font-xsmall);
  color: var(--secondary-solid);
  font-weight: 700;
}

.item__button-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: var(--spacing-16);
}