.item {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-24);
  align-items: center;
}

.item__img {
  flex: 1 1 100%;
}

.item__info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  align-items: start;
}

.item__license {
  font-family: var(--base-font);
  font-size: var(--font-small);
  color: var(--dark-900);
  font-weight: 500;
}
.item__name {
  font-family: var(--base-font);
  font-size: var(--font-jumbo);
  font-weight: 700;
}

.item__description {
  font-family: var(--base-font);
  font-size: var(--font-large);
  color: var(--dark-900);
  font-weight: 400;
}

.item__price {
  font-family: var(--base-font);
  font-size: var(--font-jumbo);
  color: var(--dark-900);
  font-weight: 400;
}

.item__cart {
  display: flex ;
  flex-direction: row;
  align-items: center;
}


.item__input {
  width: 100px;
  height: var(--spacing-36);
  text-align: center;
}


.item__quantity {
  border: none;
  cursor: pointer;
  font-family: var(--base-font);
  background-color: var(--dark-bg-solid);
  color: var(--light-bg-solid);
  font-size: var(--font-xsmall);
  font-weight: 400;
  text-align: center;
  padding: var(--spacing-8) var(--spacing-16);
  
}


.item__promo {
  font-family: var(--base-font);
  font-size: var(--font-xsmall);
  color: var(--secundary-solid);
  font-weight: 700;
}
